README.md
LICENSE

.gitignore
.prettierrc.json
.prettierignore
.eslintrc.json
.eslintignore
.dockerignore
db.sql
docker-compose.yaml
Dockerfile
nginx-conf/nginx.conf.example

api/config/*.example
api/config/*.json
api/config/*.env

api/utils/testData.json

.git
assets
build
nginx-conf/*
logs/*

node_modules
client/node_modules

client/.eslintignore
client/.eslintrc.json
client/.gitignore
client/.prettierrc.json
client/README.md
client/src/firebase/*.example