.toggle__dot {
    top: -.25rem;
    left: -.25rem;
    transition: all 0.3s ease-in-out;
}

input:checked~.toggle__dot {
    transform: translateX(100%);
}

input:checked~.toggle__line {
    background-color: darkgrey;
    background-color: #0085ff;
}